h1{
    font-family: 'Bungee Inline', cursive;
    text-align:center;

    
}
.board-game{
    border-radius: 30px;
    border-color: darkorchid;
    display: block;
    background-color: rgb(252, 143, 197);
    margin-left: auto;
    margin-right:auto;
    padding-top: 2%;
    padding-bottom: 1%;
}
img{
    display: block;
    margin-left: auto;
    margin-right:auto;
    padding-top: 2%;
    padding-bottom: 2%;
    width:38%;
    height: auto;

  
}

.result{
    font-family:'Exo 2', sans-serif;
    text-align:center;
}
